name: 'Draft release'

on:
  workflow_dispatch:
    inputs:
      package:
        description: 'Package to draft release'
        required: true
        default: 'webrtc'
      version:
        description: 'Version'
        required: true
        default: '0.0.0'

env:
  PACKAGE_DIR: ${{ github.event.inputs.package == 'webrtc' && 'js' || github.event.inputs.package }}

jobs:
  build:
    if: contains(fromJson('["webrtc", "react-client"]'), github.event.inputs.package)

    name: '@telnyx/${{ github.event.inputs.package }} Draft release'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        # https://github.com/peter-evans/create-pull-request/issues/122
        ref: 'main'
        # https://github.com/release-it/release-it/issues/657#issuecomment-647848200
        fetch-depth: 0
    - name: Setup Git user
      # https://github.com/actions/checkout/issues/13
      run: |
        git config user.name github-actions[bot]
        git config user.email 41898282+github-actions[bot]@users.noreply.github.com
    - name: Use Node.js 11.x
      uses: actions/setup-node@v1
      with:
        node-version: '11.x'
    - name: Install shared dependencies
      run: npm ci
    - name: Install package dependencies
      working-directory: packages/${{ env.PACKAGE_DIR }}
      run: npm ci
    - name: Test
      working-directory: packages/${{ env.PACKAGE_DIR }}
      run: npm test
      env:
        CI: true
    - if: github.event.inputs.package == 'webrtc'
      name: Generate docs
      working-directory: packages/${{ env.PACKAGE_DIR }}
      run: |
        npm run docs # IDEA Set --gitRevision to release-it tag
        git add docs
        git commit -m "docs: Update TS docs" || echo "No docs changes to commit"
    - name: Create draft release
      working-directory: packages/${{ env.PACKAGE_DIR }}
      run: |
        npm run DEBUG=release-it:* release -- \
        ${{ github.event.inputs.version }} \
        --ci \
        --no-git.tag \
        --github.draft \
        --no-npm.publish \
        --no-npm.tag
      env:
        NPM_TOKEN: ${{ secrets.NPM_CI_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
