name: "Publish release"

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish-js:
    if: startsWith(github.event.release.tag_name, 'webrtc/v') && github.event.release.prerelease == false

    name: "@telnyx/webrtc Publish release"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          ref: "main"
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Git user
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Use Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: "18.x"
          cache: "yarn"
          registry-url: https://registry.npmjs.org/

      - name: Install shared dependencies
        run: yarn install --immutable

      - name: Install package dependencies
        working-directory: packages/js
        run: yarn install --immutable

      - name: Publish package
        working-directory: packages/js
        run: npm publish --access public
        env:
          CI: true
          NODE_AUTH_TOKEN: ${{ secrets.NPM_CI_TOKEN }}

      - name: get-npm-version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@master
        with:
          path: packages/js

      - name: Post to Slack
        uses: homeday-de/slack-release-bot-action@main
        with:
          webhook_url: ${{ secrets.SLACK_RELEASE_BOT_WEBHOOK_URL }}
          title: "@telnyx/webrtc@${{ steps.package-version.outputs.current-version }}"
          body: "See the CHANGELOG ---> https://github.com/team-telnyx/webrtc/blob/main/packages/js/CHANGELOG.md"
          context: "New Telnyx WebRTC SDK Release ${{ steps.package-version.outputs.current-version }}"

  publish-react-client:
    if: startsWith(github.event.release.tag_name, 'react-client/v') && github.event.release.prerelease == false

    name: "@telnyx/react-client Publish release"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          ref: "main"
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Git user
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Use Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: "18.x"
          cache: "yarn"
          registry-url: https://registry.npmjs.org/

      - name: Install shared dependencies
        run: yarn install --immutable

      - name: Install package dependencies
        working-directory: packages/react-client
        run: yarn install --immutable

      - name: Publish package
        working-directory: packages/react-client
        run: npm publish --access public
        env:
          CI: true
          NODE_AUTH_TOKEN: ${{ secrets.NPM_CI_TOKEN }}
