name: 'Publish release'

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      package:
        description: 'Package to publish'
        required: true
        default: 'webrtc'
      version:
        description: 'Version'
        required: true
        default: '0.0.0'

jobs:
  publish-js:
    if: github.event.inputs.package == 'webrtc' || startsWith(github.ref, 'refs/tags/webrtc')

    name: '@telnyx/webrtc Publish release'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.release.tag_name || format('webrtc@{0}', github.event.inputs.version) }}
        # https://github.com/release-it/release-it/issues/657#issuecomment-647848200
        fetch-depth: 0
    - name: Setup Git user
      # https://github.com/actions/checkout/issues/13
      run: |
        git config user.name github-actions[bot]
        git config user.email 41898282+github-actions[bot]@users.noreply.github.com
    - name: Use Node.js 11.x
      uses: actions/setup-node@v1
      with:
        node-version: '11.x'
        registry-url: https://registry.npmjs.org/
    - name: Install shared dependencies
      run: npm ci
    - name: Install package dependencies
      working-directory: packages/js
      run: npm ci --ignore-scripts
    - name: Publish package
      working-directory: packages/js
      run: npm publish --access public
      env:
        CI: true
        NODE_AUTH_TOKEN: ${{ secrets.NPM_CI_TOKEN }}
    - name: Release API docs
      working-directory: packages/api-docs
      run: |
        npm run release -- \
        $(node ./get_version.js) \
        --ci \
        --no-npm.publish \
        && \
        npm publish --access public
      env:
        CI: true
        # Both tokens are present because publishing with
        # release-it in GH actions seems to be broken
        NODE_AUTH_TOKEN: ${{ secrets.NPM_CI_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_CI_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  publish-react-client:
    if: github.event.inputs.package == 'react-client' || startsWith(github.ref, 'refs/tags/react-client')

    name: '@telnyx/react-client Publish release'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.release.tag_name || format('react-client@{0}', github.event.inputs.version) }}
        # https://github.com/release-it/release-it/issues/657#issuecomment-647848200
        fetch-depth: 0
    - name: Setup Git user
      # https://github.com/actions/checkout/issues/13
      run: |
        git config user.name github-actions[bot]
        git config user.email 41898282+github-actions[bot]@users.noreply.github.com
    - name: Use Node.js 11.x
      uses: actions/setup-node@v1
      with:
        node-version: '11.x'
        registry-url: https://registry.npmjs.org/
    - name: Install shared dependencies
      run: npm ci
    - name: Install package dependencies
      working-directory: packages/react-client
      run: npm ci
    - name: Publish package
      working-directory: packages/react-client
      run: npm publish --access public
      env:
        CI: true
        NODE_AUTH_TOKEN: ${{ secrets.NPM_CI_TOKEN }}

  publish-api-docs:
    if: github.event.inputs.package == 'webrtc-api-docs'

    name: '@telnyx/webrtc-api-docs Publish release'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.release.tag_name || format('webrtc@{0}', github.event.inputs.version) }}
        # https://github.com/release-it/release-it/issues/657#issuecomment-647848200
        fetch-depth: 0
    - name: Setup Git user
      # https://github.com/actions/checkout/issues/13
      run: |
        git config user.name github-actions[bot]
        git config user.email 41898282+github-actions[bot]@users.noreply.github.com
    - name: Use Node.js 11.x
      uses: actions/setup-node@v1
      with:
        node-version: '11.x'
        registry-url: https://registry.npmjs.org/
    - name: Install shared dependencies
      run: npm ci
    - name: Install package dependencies
      working-directory: packages/js
      run: npm ci --ignore-scripts
    - name: Release API docs
      working-directory: packages/api-docs
      run: |
        npm run release -- \
        $(node ./get_version.js) \
        --ci \
        --no-npm.publish \
        && \
        npm publish --access public
      env:
        CI: true
        # Both tokens are present because publishing with
        # release-it in GH actions seems to be broken
        NODE_AUTH_TOKEN: ${{ secrets.NPM_CI_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_CI_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
