name: 'Publish release'

on:
  release:
    types: [published]

jobs:
  publish-js:
    if: startsWith(github.ref, 'refs/tags/@telnyx/webrtc')

    name: '@telnyx/webrtc Publish release'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 11.x
      uses: actions/setup-node@v1
      with:
        node-version: '11.x'
    - name: Install shared dependencies
      run: npm ci
    - name: Install package dependencies
      working-directory: packages/js
      run: npm ci --ignore-scripts
    - name: Publish package
      working-directory: packages/js
      run: npm run release -- --ci --no-git --no-github --npm.publish
      env:
        NPM_TOKEN: ${{ secrets.NPM_CI_TOKEN }}
