name: '@telnyx/webrtc Draft release'

on:
  push:
    branches:
    - main
    paths:
    - 'packages/js/src/**'
  workflow_dispatch:

jobs:
  build:
    name: Draft release

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        # https://github.com/peter-evans/create-pull-request/issues/122
        ref: 'main'
        # https://github.com/release-it/release-it/issues/657#issuecomment-647848200
        fetch-depth: 0
    - name: Setup Git user
      # https://github.com/actions/checkout/issues/13
      run: |
        git config user.name github-actions[bot]
        git config user.email 41898282+github-actions[bot]@users.noreply.github.com
    - name: Use Node.js 11.x
      uses: actions/setup-node@v1
      with:
        node-version: '11.x'
    - name: Install shared dependencies
      run: npm ci
    - name: Install package dependencies
      working-directory: packages/js
      run: npm ci --ignore-scripts
    - name: Test
      working-directory: packages/js
      run: npm test
      env:
        CI: true
    - name: Build
      working-directory: packages/js
      run: npm run build
    - name: Generate docs
      working-directory: packages/js
      run: |
        npm run docs -- --gitRevision main # IDEA Set git revision to release-it tag
        git add docs
        git commit -m "docs: Update TS docs" || echo "No docs changes to commit"
    - name: Create draft release
      working-directory: packages/js
      run: |
        npm run release -- \
        --ci \
        --github.draft \
        --no-npm.publish \
        --plugins.@release-it/conventional-changelog.context.previousTag="webrtc/v$(npm show @telnyx/webrtc version)"
      env:
        NPM_TOKEN: ${{ secrets.NPM_CI_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
